M1A1
.svn
blezek.mode1
blezek.mode1v3
xcuserdata
blezek.pbxuser
AlephOneDistribution*
ProvisioningProfiles
AlephOne-AdHocDistribution
Secrets.h

/Libraries/bgfx/bgfx
#/Libraries/boost_1_63_0

xcuserdata/*
dustinwenz.xcuserdatad
taxxodium.xcuserdatad

submodules/*

.DS_Store
