[submodule "external"]
	path = submodules
	url = https://TrajansRow@gitlab.com/a1-mobile-assets/Libraries.git
[submodule "Libraries/bgfx/bgfx"]
	path = Libraries/bgfx/bgfx
	url = git@github.com:bkaradzic/bgfx.git
