M1A1
.svn
blezek.mode1
blezek.mode1v3
xcuserdata
blezek.pbxuser
AlephOneDistribution*
ProvisioningProfiles
AlephOne-AdHocDistribution
Secrets.h

xcuserdata/*
dustinwenz.xcuserdatad
taxxodium.xcuserdatad

submodules/*
vendors/*

.DS_Store
Artwork/Icons/M1/M1 Master Icon 4096.pxm
Artwork/Icons/M1/M1 Master Icon 4096.pxm
Artwork/Icons/M2/M2 Master Icon 4096.pxm
Artwork/Icons/M3/M3 Master Icon 4096.pxm
Artwork/Icons/M1/M1 Master Icon 4096.pxm
AlephOneSDL/Source_Files/.DS_Store
